body {
    background-size: auto;
}

.heading {
    width: 90%;
    margin: 2;
    font-size: 18px;
}

.note {
    color: black;
    font-size: 13px;
}

canvas {
    background-color: #000000;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
}